# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key
print(g_key)
# Configure gmaps
gmaps.configure(api_key=g_key)

AIzaSyDAzGMz4BvQC7ac0gdGeCb88BXw6u1mKW0

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path ="WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)
# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,71.80,73,99,12.64,overcast clouds
1,1,solnechnyy,RU,50.7214,136.6319,21.34,87,100,1.86,overcast clouds
2,2,langenthal,CH,47.2153,7.7961,48.79,93,99,7.56,light rain
3,3,oga,IT,46.4631,10.3470,38.80,78,99,7.65,overcast clouds
4,4,shingu,JP,33.7333,135.9833,53.24,78,1,4.68,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?30
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
#Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp )]

#Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,71.80,73,99,12.64,overcast clouds
2,2,langenthal,CH,47.2153,7.7961,48.79,93,99,7.56,light rain
3,3,oga,IT,46.4631,10.3470,38.80,78,99,7.65,overcast clouds
4,4,shingu,JP,33.7333,135.9833,53.24,78,1,4.68,clear sky
5,5,souillac,MU,-20.5167,57.5167,80.98,47,20,9.22,few clouds
6,6,hermanus,ZA,-34.4187,19.2345,69.80,54,100,9.06,overcast clouds
7,7,port arthur,CN,38.8000,121.2667,52.02,75,100,11.23,overcast clouds
8,8,langholm,GB,55.1510,-2.9989,47.01,90,100,9.55,overcast clouds
9,9,mataura,NZ,-46.1927,168.8643,52.34,98,68,3.85,moderate rain
10,10,punta arenas,CL,-53.1500,-70.9167,48.31,57,75,9.22,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.

preferred_cities_df = preferred_cities_df.dropna()
t = preferred_cities_df.isnull().sum()
#print(t)
#clean_travel_cities = # YOUR CODE HERE

# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,71.80,73,99,12.64,overcast clouds
2,2,langenthal,CH,47.2153,7.7961,48.79,93,99,7.56,light rain
3,3,oga,IT,46.4631,10.3470,38.80,78,99,7.65,overcast clouds
4,4,shingu,JP,33.7333,135.9833,53.24,78,1,4.68,clear sky
5,5,souillac,MU,-20.5167,57.5167,80.98,47,20,9.22,few clouds
6,6,hermanus,ZA,-34.4187,19.2345,69.80,54,100,9.06,overcast clouds
7,7,port arthur,CN,38.8000,121.2667,52.02,75,100,11.23,overcast clouds
8,8,langholm,GB,55.1510,-2.9989,47.01,90,100,9.55,overcast clouds
9,9,mataura,NZ,-46.1927,168.8643,52.34,98,68,3.85,moderate rain
10,10,punta arenas,CL,-53.1500,-70.9167,48.31,57,75,9.22,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
0        rikitea      PF     71.80     overcast clouds -23.1203 -134.9692
2     langenthal      CH     48.79          light rain  47.2153    7.7961
3            oga      IT     38.80     overcast clouds  46.4631   10.3470
4         shingu      JP     53.24           clear sky  33.7333  135.9833
5       souillac      MU     80.98          few clouds -20.5167   57.5167
6       hermanus      ZA     69.80     overcast clouds -34.4187   19.2345
7    port arthur      CN     52.02     overcast clouds  38.8000  121.2667
8       langholm      GB     47.01     overcast clouds  55.1510   -2.9989
9        mataura      NZ     52.34       moderate rain -46.1927  168.8643
10  punta arenas      CL     48.31       broken clouds -53.1500  -70.9167

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,71.80,overcast clouds,-23.1203,-134.9692,
2,langenthal,CH,48.79,light rain,47.2153,7.7961,
3,oga,IT,38.80,overcast clouds,46.4631,10.3470,
4,shingu,JP,53.24,clear sky,33.7333,135.9833,
5,souillac,MU,80.98,few clouds,-20.5167,57.5167,
6,hermanus,ZA,69.80,overcast clouds,-34.4187,19.2345,
7,port arthur,CN,52.02,overcast clouds,38.8000,121.2667,
8,langholm,GB,47.01,overcast clouds,55.1510,-2.9989,
9,mataura,NZ,52.34,moderate rain,-46.1927,168.8643,
10,punta arenas,CL,48.31,broken clouds,-53.1500,-70.9167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    #print("params:%s" % params)

    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    #print("hotels:%s" % hotels)
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,71.80,overcast clouds,-23.1203,-134.9692,People ThankYou
2,langenthal,CH,48.79,light rain,47.2153,7.7961,Parkhotel Langenthal
3,oga,IT,38.80,overcast clouds,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi
4,shingu,JP,53.24,clear sky,33.7333,135.9833,Shingu UI Hotel
5,souillac,MU,80.98,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
6,hermanus,ZA,69.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
7,port arthur,CN,52.02,overcast clouds,38.8000,121.2667,Friendship Hotel
8,langholm,GB,47.01,overcast clouds,55.1510,-2.9989,Crown Hotel
9,mataura,NZ,52.34,moderate rain,-46.1927,168.8643,Ellie's Villa
10,punta arenas,CL,48.31,broken clouds,-53.1500,-70.9167,Hotel Hain

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
#import numpy as np
#hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df.head(10)
clean_hotel_df = hotel_df.dropna()
#clean_hotel_df = hotel_df.head(5)

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,71.80,overcast clouds,-23.1203,-134.9692,People ThankYou
2,langenthal,CH,48.79,light rain,47.2153,7.7961,Parkhotel Langenthal
3,oga,IT,38.80,overcast clouds,46.4631,10.3470,QC Terme Bagni di Bormio Bagni Nuovi
4,shingu,JP,53.24,clear sky,33.7333,135.9833,Shingu UI Hotel
5,souillac,MU,80.98,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
6,hermanus,ZA,69.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
7,port arthur,CN,52.02,overcast clouds,38.8000,121.2667,Friendship Hotel
8,langholm,GB,47.01,overcast clouds,55.1510,-2.9989,Crown Hotel
9,mataura,NZ,52.34,moderate rain,-46.1927,168.8643,Ellie's Villa
10,punta arenas,CL,48.31,broken clouds,-53.1500,-70.9167,Hotel Hain

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Parkhotel Langenthal</dd>\n<dt>City</dt><dd>langenthal</dd>\n<dt>Country</dt><dd>CH</dd>\n<dt>Current Weather</dt><dd>light rain and 48.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>QC Terme Bagni di Bormio Bagni Nuovi</dd>\n<dt>City</dt><dd>oga</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 38.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shingu UI Hotel</dd>\n<dt>City</dt><dd>shingu</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>clear sky and 53.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Friendship Hotel</dd>\n<dt>City</dt><dd>port arthur</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 52.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Crown Hotel</dd>\n<dt>City</dt><dd>langholm</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 47.01 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>moderate rain and 52.34 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>punta arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>broken clouds and 48.31 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -23.1203 -134.9692
2   47.2153    7.7961
3   46.4631   10.3470
4   33.7333  135.9833
5  -20.5167   57.5167
6  -34.4187   19.2345
7   38.8000  121.2667
8   55.1510   -2.9989
9  -46.1927  168.8643
10 -53.1500  -70.9167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a heatmap of temperature for the vacation spots.
max_temp = clean_hotel_df["Max Temp"]
#print("max_temp:%s" % max_temp)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))